 
 <div class="container">
 <router-outlet></router-outlet>  
</div>

    
    <!-- <div id="vertical-bar">
                
                <button data-option="dashboard"><mat-icon>home</mat-icon><h5>Dashboard</h5></button>
                <button data-option="buildChair"><mat-icon>add</mat-icon><h5>Build Teapot</h5></button>
                <button data-option="orderParts"><mat-icon>build</mat-icon><h5>Order Parts</h5></button>
                <button data-option="pendingApproval"><mat-icon>pending</mat-icon><h5>Pending Approval</h5></button>
                <button data-option="account"><mat-icon>person</mat-icon><h5>Account</h5></button>
    </div>  -->
 
 <!-- <div class="container">
    <app-signup></app-signup>
    
    
</div>  -->

        