
<div class="container">
    <div class="navbar-header nav-item">
        <!-- <a routerLink="/home"><b>  
      <span>PACT</span> </b></a> -->
      <div id="vertical-bar">
   
        <button data-option="dashboard" routerLink="/homepage"><mat-icon>home</mat-icon><h5>Dashboard</h5></button>
        <button data-option="userdetails" routerLink="/userdetails"><mat-icon>add</mat-icon><h5>User Details</h5></button>
        <button data-option="orderdetails" routerLink="/userorders"><mat-icon>build</mat-icon><h5>Order Details</h5></button>
        <button data-option="pendingApproval"><mat-icon>pending</mat-icon><h5>Pending Approvals</h5></button>
        <button data-option="account" routerLink="/accountpage"><mat-icon>person</mat-icon><h5>Account</h5></button>
     </div>   
<br>

<br>

<h3>Orders</h3>

<div class="space"></div>
<button type="button" [routerLink]="['/Admin']" style="padding: 5px; width:80px; margin: 10px;"
        class="btn btn-primary">Back</button>
<!-- <button  style="margin: 50px; padding: 10px;" type="button" class="btn btn-primary" routerLink="/editpackage" style="background-color:rgb(123, 152, 232);">Edit Package</button> -->
<!-- <div *ngIf="!products" class="loader"></div> -->
<table data-page-length='5' class="table table-striped" aria-labelledby="tabelLabel">
<thead>
    <tr>
         
        
        <th>OrderId</th>
        <th>CustomerId</th>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>Quantity</th>
        <th>OrderStatus</th>
        <th>CustomerName</th>
         <th>OrderDate</th>
        <th>TotalAmount</th>
         
         
         
        
         
    </tr>
</thead>
<tbody>
    <tr     *ngFor="let  order of  orders">
         
        
        <td>{{order.OrderId}}</td>
        <td>{{order.CustomerId}}</td>
        <td>{{order.ProductId}}</td>
        <td>{{order.ProductName}}</td>
        <td>{{order.Quantity}}</td>
        <td>{{order.Price}}</td>
        <td>{{order.OrderStatus}}</td>
        <td>{{order.CustomerName}}</td>
        <td>{{order.OrderDate}}</td>
        <td>{{order.TotalAmount}}</td>

        <td>
            <!-- <button   (click)="Accept(order.id)" class="btn btn-primary btn-block " >Accept</button> -->
            <!-- <button type="button" class="btn btn-primary" id=edit data-bs-toggle="modal"
            data-bs-target="#exampleModel" (click)="SetOrderValues(order)"><i
              class="fa-solid fa-pen-to-square"></i></button>
    
          <button type="button" class="btn btn-danger" id=delete (click)="DeleteOrder(order)"><i
              class="fa-solid fa-person-circle-minus"></i></button> -->
        </td>
        
         
    </tr>
    
</tbody>
</table>

