<body>
    <div class="container">
    
        <div class="row">
    
            <div class="col-md-6">
     
                <div class="card">
    
                    <div class="text-center">
    
                        <h1>Your Account </h1>
                </div>

                <div id="horizontal-bar">
                    <!-- <button  routerLink="/signup">Sign Up</button>&nbsp;
                    <button  routerLink="/login">login</button>  -->
    
                    <input type="text" placeholder="Search...">&nbsp;
                    <button data-option="logout" routerLink="/homepage"><mat-icon>power_settings_new</mat-icon></button>
                </div>    
   
            <div id="vertical-bar">
                
                        <button data-option="dashboard" routerLink="/dashboard"><mat-icon>home</mat-icon><h5>Dashboard</h5></button>
                        <button data-option="buildChair"><mat-icon>add</mat-icon><h5>Build Teapot</h5></button>
                        <button data-option="orderParts" routerLink="/order"><mat-icon>build</mat-icon><h5>Order Teapot</h5></button>
                        <button data-option="account" routerLink="/account"><mat-icon>person</mat-icon><h5>Account</h5></button>
            </div>
            
      
    
                    <!--bootstrap form starts-->
    
                    <form>
    
                        <div class="mb-3">
    
                          <label for="name" class="form-label">Name</label>
                          <input type="name" class="form-control" id="name" placeholder="Set at 1/2 increments" >  
                        
                        </div>
    
                        <div class="mb-3">
    
                          <label for="email" class="form-label">Email</label>
    
                          <input type="email" class="form-control" id="email" placeholder="Set at 1/2 increments">
    
                        </div>

                        <div class="mb-3">
    
                            <label for="payment" class="form-label">Payment Details</label>
      
                            <input type="payment" class="form-control" id="payment" placeholder="Your payments are handled by your account">
      
                          </div>

                          <div class="mb-3">
    
                            <label for="account" class="form-label">Your Linked Account</label>
      
                            <input type="account" class="form-control" id="account" placeholder="BusinessAccountorCompanyName">
      
                          </div>
                          
                          <label for="account" class="form-label">Your References</label><br>
                          <label for="account" class="form-label">configurator category under</label><br>
                            <!-- <input type="text" placeholder="Your References"> -->
                            <input type="radio" name="color" value="red" > Frame first
                            <input type="radio" name="color" value="red" > Dimensions first <br><br>
                           
                            <label for="account" class="form-label">Other Options</label><br>
                            <input type="checkbox" name="color" value="red" >Option one <br><br>


                         <!-- <button type="submit" class="btn btn-primary" routerLink="/dashboard">Back</button>&nbsp; -->
                         <p-button  styleClass="p-button-success" routerLink="/dashboard" >Back</p-button>
    
                        <!-- <button type="submit" class="btn btn-primary" routerLink="/dashboard">login</button> -->
     
                      </form>
    
                    <!--Bootstrap form ends-->
    
                    <!-- <a routerLink="/signup" >New User ? click to signup</a> -->
    
                </div>
    
            </div>
    
        </div>
    
    </div>

</body>



















