<div class="bg-light py-3">

    <div class="container">

      <div class="row">

        <div class="col-md-8 mb-0"><h1>

          Home <span class="mx-2 mb-0">/</span>

          <strong class="text-black">Order</strong></h1>

        </div>

        <div class="col-md-4 mb-0"><h2 class="text-end">

            <a href="/login">Logout</a>

        </h2></div>

      </div>

    </div>

  </div>






  <section class="h-100 h-custom" >

    <div class="container py-5 h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-12">

          <div class="card card-registration card-registration-2" style="border-radius: 15px;">

            <div class="card-body p-0">

              <div class="row g-0">

                <div class="col-lg-8">

                  <div class="p-5">

                    <div class="d-flex justify-content-between align-items-center mb-5">

                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>

                      <h5 class="mb-0 text-muted">{{selectedProduct.length}} items</h5>

                    </div>

                    <hr class="my-4">

 

                    <div class="row mb-4 d-flex justify-content-between align-items-center" *ngFor="let product of selectedProduct;let i=index">

                     

                      <div class="col-md-3 col-lg-3 col-xl-3">

                        <h3 class="text-muted">Product Name</h3>

                        <h5 class="text-black mb-0">{{ product.title }}</h5>

                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                        <button class="btn btn-link px-2" (click)="remove(product.quantity,product,i)"

                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">

                          <i class="fas fa-minus"></i>

                        </button>

                        {{product.quantity}}

                        <input id="form1" min="0" name="quantity" value="1" type="number"

                          class="form-control form-control-sm" [(ngModel)]="product.quantity"/>

 

                        <button class="btn btn-link px-2" (click)="add(product.quantity,product,i)"

                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">

                          <i class="fas fa-plus"></i>

                        </button>

                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">

                       <h3 class="mb-0">₹ {{ product.price }}</h3>

                      </div>

                      <div (click)="delete(i)" class="col-md-1 col-lg-1 col-xl-1 text-end">

                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>

                      </div>

                    </div>

 

                    <hr class="my-4">

 

                    <div class="row mb-4 d-flex justify-content-between align-items-center">

                     

                      <div class="col-md-3 col-lg-3 col-xl-3">

                        <h3 class="text-muted">Product Name</h3>

                        <h5 class="text-black mb-0">Cotton T-Product Name</h5>

                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                        <button class="btn btn-link px-2"

                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">

                          <i class="fas fa-minus"></i>

                        </button>

 

                        <input id="form1" min="0" name="quantity" value="1" type="number"

                          class="form-control form-control-sm" />

 

                        <button class="btn btn-link px-2"

                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">

                          <i class="fas fa-plus"></i>

                        </button>

                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">

                       <h3 class="mb-0">₹ 44.00</h3>

                      </div>

                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>

                      </div>

                    </div>

 

                    <hr class="my-4">

 

                    <div class="row mb-4 d-flex justify-content-between align-items-center">

                     

                      <div class="col-md-3 col-lg-3 col-xl-3">

                        <h3 class="text-muted">Product Name</h3>

                        <h5 class="text-black mb-0">Cotton T-Product Name</h5>

                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                        <button class="btn btn-link px-2"

                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">

                          <i class="fas fa-minus"></i>

                        </button>

 

                        <input id="form1" min="0" name="quantity" value="1" type="number"

                          class="form-control form-control-sm" />

 

                        <button class="btn btn-link px-2"

                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">

                          <i class="fas fa-plus"></i>

                        </button>

                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">

                       <h3 class="mb-0">₹ 44.00</h3>

                      </div>

                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>

                      </div>

                    </div>

 

                    <hr class="my-4">

 

                    <div class="pt-5">

                      <h5 class="mb-0"><a href="#!" class="text-body"><i

                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h5>

                    </div>

                  </div>

                </div>

                <div class="col-lg-4 bg-grey">

                  <div class="p-5">

                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>

                    <hr class="my-4">

 

                    <div class="d-flex justify-content-between mb-4">

                      <h3 class="text-uppercase">items  {{totalquantity}}</h3>

                      <h3>₹ {{TotalAmount}}</h3>

                    </div>

 

                    <div class="d-flex justify-content-between mb-4">

                        <h3 class="text-uppercase">Shipping Charges </h3>

                        <h3>₹ 80.00</h3>

                    </div>

 

                   <hr class="my-4">

 

                    <div class="d-flex justify-content-between mb-5">

                      <h3 class="text-uppercase">Total price</h3>

                      <h5 *ngIf="selectedProduct.length>0">₹{{TotalAmount+100}}</h5>

                      <h5 *ngIf="selectedProduct.length==0">₹0</h5>

                    </div>

 

                    <button type="button" class="btn btn-dark btn-block btn-lg" (click)="placeOrder()"

                      data-mdb-ripple-color="dark">Make Payment</button>&nbsp;

 

                      <button type="button" class="btn btn-danger btn-block btn-lg"

                      data-mdb-ripple-color="dark" >   Cancel</button>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

  <br><br>