<div id="horizontal-bar">
   <!-- <button  routerLink="/signup">Sign Up</button>&nbsp;
   <button  routerLink="/login">login</button>  -->

   <!-- <div class="search">
       <input type="text"  placeholder="Enter search query">
       <button mat-icon-button class="button" >
         <mat-icon>search</mat-icon>
       </button>
     </div> -->
   <input type="text"  placeholder="Search...">&nbsp; 
   <button data-option="logout" routerLink="/homepage"><mat-icon>power_settings_new</mat-icon></button>
   
</div> 

<body>

<div id="vertical-bar">
   
   <button data-option="dashboard" routerLink="/dashboard"><mat-icon>home</mat-icon><h5>Dashboard</h5></button>
   <button data-option="userdetails" routerLink="/userdetails"><mat-icon>add</mat-icon><h5>User Details</h5></button>
   <button data-option="orderdetails" routerLink="/userorders"><mat-icon>build</mat-icon><h5>Order Details</h5></button>
   <button data-option="pendingApproval"><mat-icon>pending</mat-icon><h5>Pending Approvals</h5></button>
   <button data-option="account" routerLink="/accountpage"><mat-icon>person</mat-icon><h5>Account</h5></button>
</div>
</body>
